{% extends 'partials/base.html' %} {% load static %} {% load i18n %} {% block content %}
<style>
  .bg-image{
    background-image: url('{% static "./assets/imgs/signup2.jpg" %}');
    background-size: cover;
    margin-bottom: 300px;
    min-height: 120vh;
    padding-top: 150px;
    padding-bottom: 150px;

  }
  @media screen and (max-width:667px) {
     .bg-image{
    background-image: url('{% static "./assets/imgs/signup2.jpg" %}');
    background-size: cover;
    margin-bottom: 300px;
    min-height: 120vh;
    padding-top: 50px;

  }
  .card-body > h2{
    font-size: larger;
  }

  }
</style>
<main class="main pages">
 <section class="bg-image">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">{% trans 'Login' %}</h2>

              <form method="post" action="{% url 'userauths:sign-in' %}">
{% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="phone" id="form3Example3cg" class="form-control form-control-lg" name="phone" />
                  <label class="form-label" for="form3Example3cg" >
                        {% trans 'Phone *' %}
                  </label>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password"/>
                  <label class="form-label" for="form3Example4cg">{% trans 'Your password *' %}</label>
                </div>


                <div class="d-flex justify-content-center">
                  <button
                    data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4" type="submit">{% trans "Login" %}</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">{% trans "Don't have an account?" %} <a href="{% url 'userauths:sign-up' %}"
                    class="fw-bold text-body"><u>   {% trans "Create Here" %}</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
{% endblock content %}