{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block content %}

<style>

    .card-1{
        padding: 3px;
    }

button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

/*--------------------------*/
.qty-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-container .input-qty{
  text-align: center;
  border: 1px solid #d4d4d4;
  max-height: 36px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
  border: None;
  width: 38px;
  height: 36px;
padding: 6px 20px 6px 20px;
border-radius: 4px;
background-color: #DEF9EC;
font-size: 14px;
font-weight: 700;


}
.qty-container .qty-btn-plus{
  margin-left: 2px;
}
.qty-container .qty-btn-minus{
  margin-right: 2px;
}

@media screen and (max-width:667px){
        
    
    .title-category{

    font-size: x-small;
    }
.qty-container .input-qty{
  text-align: center;
  border: 1px solid #d4d4d4;
  /* max-height: 26px; */
  width: 70px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
  border: None;
  width: 30px;
  /* height: 26px; */
padding-top: 2px;
padding-bottom: 2px;
border-radius: 2px;
background-color: #DEF9EC;
font-size: 8px;
font-weight: 500;


}
.qty-container .qty-btn-plus{
  margin-left: 2px;
}
.qty-container .qty-btn-minus{
  margin-right: 2px;
}
    }
</style>




<main class="main">
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-lg-4-5">
                <section class="home-slider position-relative mb-30">
                    <div class="home-slide-cover mt-30">
                        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                            {% for i in big_banners %}
                            <div class="single-hero-slider single-animation-wrap"
                                style="background-image: url({{ i.image.url }})">
                                <div class="slider-content">
                                    <h1 class="display-2 mb-40" style="color: #3BB77E;">
                                        {{ i.name }}
                                    </h1>
                                    <p class="mb-65">{{i.user_catcher}}</p>
                                    <p class="mb-65">{{i.short_line}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </section>
                <!--End hero-->

        <section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>{% trans "Shop by Categories" %}</h3>
                       
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
                </div>
                <div class="carausel-8-columns-cover position-relative">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        {%  for i in cats  %}
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="{% url 'category-product-list' i.id %}"><img src="{{ i.image.url }}" alt="" /></a>
                            </figure>
                            <h6>
                                <a class="title-category" href="{% url 'category-product-list' i.id %}">{{ i.title }}</a>
                            </h6>
                        </div>
                       {% endfor %}
                       
                    </div>
                </div>
            </div>
        </section>

        
        
        
        
        {% for message in messages %}
        {% if message %}
        <div class="alert">{{message}}</div>
        {% endif %}
        {% endfor %}

<section>


    <div class="container-fluid my-5">
        <div class="row">

            <div class="col-12 m-auto">
                <h4>{% trans "Featured Products" %}</h4>
                <br>
                <div class="owl-carousel owl-theme">
                    {% for p in featured %}
                        <div class="item">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap" >
                                        <div class="product-img product-img-zoom" >
                                            <a href="{% url 'product-detail' p.id %}" >
                                                <img class="default-img" src="{{ p.image.url }}" alt=""
                                                    style="max-height: 353.328px; max-width: 353.328px; object-fit: cover;" />
                                                    {% if p.p_images.first.image %}
                                                <img class="hover-img" src="{{ p.p_images.first.image.url }}" alt=""
                                                    style="max-height: 353.328px; max-width: 353.328px; object-fit: cover;" />
                                                    {% endif %}

                                                </a>
                                        </div>
                                    
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                            {% if p.get_precentage > 0 %}
                                                <span class="hot">-{{p.get_precentage|floatformat:0}}%</span>
                                            {% else %}
                                            <span></span>
                                        {% endif %}

                                    
                                        </div>
                                            {% if p.is_prescription %}
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot" style="background-color: yellow; color: black; font-weight: bold;">Prescription only</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="product-content-wrap">
                                        <h2><a href="{% url 'product-detail' p.id %}">{{ p.title }}</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>
                                            
                                        <div class="product-card-bottom">
                                                                        

                                            <div class="container mt-5 pb-5">
                                                <div class="row">
                                                    <div class="col-md-9">

                                                        <div class="qty-container add-cart">

                                                            
                                                            {% if dir == "rtl" %}


                                                                            {% if request.user.is_authenticated %}
                                                                            <button class="qty-btn-minus add add-to-cart-btn  mr-1"data-index="{{ p.id }}"  type="button"><i class="fa fa-chevron-right"></i></button>
                                                                            <input type="number" name="qty" value="{{ p.id|get_cart_quantity:request.user }}" class="input-qty product-quantity-{{ p.id }}" max="10"/>
                                                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                            <button class="qty-btn-plus  add add-to-cart-btn ml-1" data-index="{{ p.id }}" id="add-to-cart-btn" type="button"><i class="fa fa-chevron-left"></i></button>
                                                                            {% else %}

                                                                            <a class="qty-btn-minus add add-to-cart-btn  mr-1" href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-right"></i></a>
                                                                            <input type="number" class="input-qty product-quantity" max="10"/>
                                                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                            <a class="qty-btn-plus  add add-to-cart-btn ml-1"  href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-left"></i></a>

                                                                            {% endif %}
                                                            {% else %}

                                                            

                                                                            {% if request.user.is_authenticated %}
                                                                            <button class="qty-btn-minus add add-to-cart-btn  mr-1"data-index="{{ p.id }}"  type="button"><i class="fa fa-chevron-left"></i></button>
                                                                            <input type="number" name="qty" value="{{ p.id|get_cart_quantity:request.user }}" class="input-qty product-quantity-{{ p.id }}" max="10"/>
                                                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                            <button class="qty-btn-plus  add add-to-cart-btn ml-1" data-index="{{ p.id }}" id="add-to-cart-btn" type="button"><i class="fa fa-chevron-right"></i></button>
                                                                            {% else %}

                                                                            <a class="qty-btn-minus add add-to-cart-btn  mr-1" href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-left"></i></a>
                                                                            <input type="number" class="input-qty product-quantity" max="10"/>
                                                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                                            <a class="qty-btn-plus  add add-to-cart-btn ml-1"  href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-right"></i></a>

                                                                            {% endif %}
                                                        {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="add-cart">
                                                            <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">

                                                            <div class="d-flex">
                                                                <!-- <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i></button> -->
                                                                <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>
                                                            </div>
                                                        </div>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span class="new-price">MRU {{p.price}}</span>
                                                {% if p.get_precentage > 0 %}
                                                    <span class="old-price">MRU {{p.old_price}}</span>
                                                {% endif %}
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                
                </div>

            </div>
        </div>
    </div>

  

</section>


                <section class="product-tabs section-padding position-relative">
                  
                    <!--End nav-tabs-->


                    <div class="tab-content" id="myTabContent">
                        
                        <!--En tab one-->
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">

                  


                            {% for p in products %}
                                <div class="col-lg-1-3 col-md-3 col-6 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                              
                                            <div class="product-img product-img-zoom">
                                              <a href="{% url 'product-detail' p.id %}" style="padding: 0% !important;">
                                            <img class="default-img" src="{{ p.image.url }}" alt=""
                                                style="max-height: 353.328px; max-width: 353.328px; object-fit: cover;" />
                                                {% if p.p_images.first.image %}
                                            <img class="hover-img" src="{{ p.p_images.first.image.url }}" alt=""
                                                style="max-height: 353.328px; max-width: 353.328px; object-fit: cover;" />
                                                {% endif %}

                                            </a>
                                            </div>
                                             
                                            <div class="product-action-1">
                                                <a aria-label="Add To Wishlist" class="action-btn add-to-wishlist"
                                                    data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                                <!-- <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                <a href="{% url 'product-detail' p.id %}" class="action-btn"><i
                                                        class="fi-rs-eye"></i></a>
                                            </div>
                                               <div class="product-badges product-badges-position product-badges-mrg">
                                                {% if p.get_precentage > 0 %}
                                                <span class="hot">-{{p.get_precentage|floatformat:0}}%</span>
                                                    
                                                {% else %}
                                                <span></span>
                                            {% endif %}

                                       
                                            </div>
                                            {% if p.is_prescription %}
                                              <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot" style="background-color: yellow; color: black; font-weight: bold;">Prescription only</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="product-content-wrap">
                                            
                                            <h2><a href="{% url 'product-detail' p.id %}">{{ p.title }}</a></h2>
                                            <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>

                                        <div class="product-card-bottom">
                                                                    

                                        <div class="container mt-5 pb-5">
                                            <div class="row">
                                                <div class="col-md-9">



                                                    <div class="qty-container add-cart">
                                                       

                                        {% if dir == "rtl" %}


                                                        {% if request.user.is_authenticated %}
                                                        <button class="qty-btn-minus add add-to-cart-btn  mr-1"data-index="{{ p.id }}"  type="button"><i class="fa fa-chevron-right"></i></button>
                                                        <input type="number" name="qty" value="{{ p.id|get_cart_quantity:request.user }}" class="input-qty product-quantity-{{ p.id }}" max="10"/>
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <button class="qty-btn-plus  add add-to-cart-btn ml-1" data-index="{{ p.id }}" id="add-to-cart-btn" type="button"><i class="fa fa-chevron-left"></i></button>
                                                        {% else %}

                                                        <a class="qty-btn-minus add add-to-cart-btn  mr-1" href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-right"></i></a>
                                                        <input type="number" class="input-qty product-quantity" max="10"/>
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <a class="qty-btn-plus  add add-to-cart-btn ml-1"  href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-left"></i></a>

                                                        {% endif %}
                                        {% else %}

                                        

                                                        {% if request.user.is_authenticated %}
                                                        <button class="qty-btn-minus add add-to-cart-btn  mr-1"data-index="{{ p.id }}"  type="button"><i class="fa fa-chevron-left"></i></button>
                                                        <input type="number" name="qty" value="{{ p.id|get_cart_quantity:request.user }}" class="input-qty product-quantity-{{ p.id }}" max="10"/>
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <button class="qty-btn-plus  add add-to-cart-btn ml-1" data-index="{{ p.id }}" id="add-to-cart-btn" type="button"><i class="fa fa-chevron-right"></i></button>
                                                        {% else %}

                                                        <a class="qty-btn-minus add add-to-cart-btn  mr-1" href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-left"></i></a>
                                                        <input type="number" class="input-qty product-quantity" max="10"/>
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <a class="qty-btn-plus  add add-to-cart-btn ml-1"  href="{% url 'userauths:sign-in' %}"><i class="fa fa-chevron-right"></i></a>

                                                        {% endif %}
                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="add-cart">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">

                                                        <div class="d-flex">
                                                            <!-- <button class="add add-to-cart-btn" data-index="{{ p.id }}" style="border: none;" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i></button> -->
                                                            <button style="border: none; background: none;" class="add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart" style="fill: aqua;"></i></button>
                                                        </div>
                                                    </div>
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span class="new-price">MRU {{p.price}}</span>
                                            {% if p.get_precentage > 0 %}
                                                <span class="old-price">MRU {{p.old_price}}</span>
                                            {% endif %}
                                        </div>
                                       
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                {% if products.has_other_pages %}
    <div class="pagination-area mt-20 mb-20">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
                
                {% for i in products.paginator.page_range %}
                    {% if i == products.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                    {% else %}
                        {% if i > products.number|add:"-3" and i < products.number|add:"3" %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}

                        </div>





                    <!--End tab-content-->
                </section>
                <!--Products Tabs-->
                <section class="section-padding pb-5">
                    <div class="section-title">
                        <h3 class="">{% trans "Deals Of The Day" %}</h3>
                        
                        </a>
                    </div>
                    <div class="row">
                       
                        {% for i in offers %} 
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="product-cart-wrap style-2">
                                <div class="product-img-action-wrap">
                                    <div class="product-img">
                                        <a href="{% url 'product-detail' i.product.id %}">
                                            <img src="{{ i.product.image.url }}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="deals-countdown-wrap">
                                        <div class="deals-countdown" data-countdown="{{i.ending}}"></div>
                                    </div>
                                    <div class="deals-content">
                                        <h2><a href="{% url 'product-detail' i.product.id %}">{{ i.product.title }}</a>
                                        </h2>
                                       <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ p.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>
                                       
                                        <div class="product-card-bottom">
                                            <div class="product-price">
                                                <span>MRU {{i.product.price}}</span>
                                                <span class="old-price">MRU {{i.product.old_price}}</span>
                                            </div>
                                            <div class="add-cart">
                                                <a class="add" href="{% url 'add-to-cart' i.product.id %}"><i
                                                        class="fi-rs-shopping-cart mr-5"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </section>


            </div>
            <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                <div class="sidebar-widget widget-category-2 mb-30">
                    <h5 class="section-title style-1 mb-30">{% trans "Main Categories"%}</h5>
                    <ul>
                        {% for i in main_cats %}
                        <li>
                            <a href="{% url 'main_category_products' i.id %}"> <img src="{{ i.image.url }}" alt="" />{{ i.title }}</a><span class="count">{{ i.product_count }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
{% for i in side_banners %}
                <div class="banner-img wow fadeIn mb-lg-0 animated d-lg-block d-none">
                    <a href="{{i.url}}"><img src="{i.image.url}" alt="" /></a>
                    <div class="banner-text">
                        <span>{{ i.type }}</span>
                        <h4>
                           {{ i.user_catcher }}
                        </h4>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
    
    <!--End category slider-->
    <section class="section-padding mb-30">
        <div class="container">
            <div class="row">
               
                <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Trending Products"%}</h4>
                    {% for i in trending %}
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="{% url 'product-detail' i.id %}"><img
                                        src="{{ i.image.url }}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="{% url 'product-detail' i.id %}">{{ i.title }}</a>
                                </h6>
                               <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>
                                <div class="product-price">
                                    <span>MRU {{ i.price }}</span>
                                    <span class="old-price">MRU {{ i.old_price }}</span>
                                </div>
                            </div>
                        </article>
                        
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Recently added" %}</h4>
                     {% for i in recent %}
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="{% url 'product-detail' i.id %}"><img
                                        src="{{ i.image.url }}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="{% url 'product-detail' i.id %}">{{ i.title }}</a>
                                </h6>
                               <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>
                                <div class="product-price">
                                    <span>MRU {{ i.price }}</span>
                                    <span class="old-price">MRU {{ i.old_price }}</span>
                                </div>
                            </div>
                        </article>
                        
                    </div>
                    {% endfor %}
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block">
                    <h4 class="section-title style-1 mb-30 animated animated">{% trans "Top Rated" %}</h4>
                     {% for i in rated %}
                    <div class="product-list-small animated animated">
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="{% url 'product-detail' i.id %}"><img
                                        src="{{ i.image.url }}" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="{% url 'product-detail' i.id %}">{{ i.title }}</a>
                                </h6>
                             <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                            
                                            {% if dir == "rtl" %}

                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%; -webkit-transform: scaleX(-1); transform: scaleX(-1);"></div>
                                                {% else %}
                                                <div class="product-rating" style="width: {{ i.average_rating.rating_percentage}}%;"></div>
                                                {% endif %}
                                            
                                            </div>
                                           
                                        </div>
                                <div class="product-price">
                                    <span>MRU {{ i.price }}</span>
                                    <span class="old-price">MRU {{ i.old_price }}</span>
                                </div>
                            </div>
                        </article>
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--End 4 columns-->
</main>




{% endblock content %}